@use "index.scss" as *;

// CODE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $spartan;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-huge;
}

h3 {
  font-size: $font-size-large;
}

h4 {
  font-size: $font-size-main;
}

h5 {
  font-size: $font-size-xl;
}

a {
  text-decoration: none;
  color: $black;
  font-size: $font-size-main;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.img-fit {
  width: fit-content;
}

header {
  margin-bottom: $section-margin * 3;
  .navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: $xs-padding gap(5);
    background-color: $primary;
    z-index: 9999;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    img {
      width: 150px;
    }
  }

  .nav-menu {
    ul {
      display: flex;
      gap: gap(3);
    }
    li a {
      font-size: $font-size-large;
      font-weight: 500;
      position: relative;

      &:hover {
        color: lighten($secondary, 5%);
      }

      &::after {
        content: "";
        position: absolute;
        left: -10%;
        bottom: -3px;
        width: 120%;
        background-color: $secondary;
        height: 3px;
        border-radius: 1px;
        transition: 0.4s;
        scale: 0;
      }

      &:hover::after {
        scale: 1;
      }
    }
    i {
      font-size: $font-size-large;
    }
  }
}

.product {
  width: 85%;
  height: fit-content;
  margin: $section-margin auto;
  display: flex;
  gap: gap(4);
  .product-photos {
    width: 35%;
    .product-images {
      display: flex;
      justify-content: space-between;
      img {
        width: 24%;
      }
    }
  }
  .product-details {
    padding: $large-padding * 2;
    width: 65%;
    select {
      padding: $xs-padding $base-padding;
      font-size: $font-size-main;
      font-family: $main-font;
      border: 1px solid black;
    }
    .productcount {
      display: flex;
      gap: gap(1);
      input {
        padding: $xs-padding $xs-padding;
        width: 50px;
        height: 47px;
        font-size: $font-size-main;
        &:focus {
          outline: none;
        }
      }
      button {
        @include btn($white, $secondary);
        margin: 0;
        font-size: $font-size-large;
        font-weight: 600;
        padding: $xs-padding $large-padding;
        border-radius: 5px;
      }
    }
    p {
      font-size: $font-size-large;
    }
  }
}

#newsletter {
  width: 100%;
  background: linear-gradient(45deg, darkblue, rgb(8, 15, 78));
  padding: gap(3) 7.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: $section-margin;
  .news-wrapper {
    flex-grow: 1;
  }
  h2 {
    color: $white;
    margin-bottom: $base-margin;
  }
  .news-email {
    flex-grow: 1;
    margin-left: gap(4);
  }
  form {
    display: flex;
  }
  input {
    width: 80%;
    font-size: $font-size-large;
    padding: $base-padding;
    border-radius: 4px 0 0 4px;
    outline: none;
    border: none;
  }
  button {
    @include btn($white, $secondary);
    font-size: $font-size-large;
    margin: 0;
    border: none;
    width: 20%;
    border-radius: 0 4px 4px 0;
    &:hover {
      background-color: mix(white, $secondary, 20%);
    }
  }
}

.footer-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto $section-margin auto;
  p {
    color: $gray;
    font-size: $font-size-big;
  }
  i {
    font-size: $font-size-big;
    color: $gray;
  }
  .footer-contact {
    width: fit-content;
    .footer-img {
      width: 200px;
    }

    .social-media {
      display: flex;
      gap: $base-margin;
    }
  }
  .install-app {
    display: flex;
    margin: $large-margin 0;
    gap: gap(1);
    img {
      border: 1px solid $secondary;
      border-radius: 5px;
    }
  }
}

.end {
  text-align: center;
}
